<ion-view style="background-color:#f7f5ff;">
  <ion-content>

    <!---********************************-------------Partie header-------------********************************--->


    <div class="pageContainer" style="">
        <div class="headerContainerhomeAide">
      <h2 style="color: white;">Aide</h2>
    </div>

      <div class="pageContainerbulle">
        <img  src="../image/Parcours/pageAide/bubble.png"/>
      </div>

      <div class="pageContainertitle">
        <p style="font-size: 20px;padding: 3%">Contactez-nous !</p>
      </div>

      <!---********************************-------------Partie body-------------********************************--->


      <div class="helpCategorieContainer">
        <button class="buttonAnimationHelpPage btnHelpPage" ui-sref="Litige"><span> Litige avec un chauffeur </span></button>

        <button class="buttonAnimationHelpPage btnHelpPage" ui-sref="AideAutre"><span> Autres </span></button>
      </div>

      <!---********************************-------------Partie footer------------********************************--->
      <p style="margin-top: 50px">
        <a id="link" href="http://example.com/">Condition générale</a>
      </p>

    </div>
  </ion-content>
</ion-view>
