<ion-view style="background-color:#f7f5ff">
  <ion-content>


    <div style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
      <div style="background-color:#312e42; width: 100%" class="headerContainerHomeLitige">
        <h2 style="color: white">Autres</h2>
      </div>




      <div class="formPageContainer">
        <div class="form-group">

          <!--signaler un probleme--->
          <span style="font-size:16px;">Signaler un probleme sur :</span>

          <select style="background-color:#e4daea; width: 345px;" id="disabledSelect" class="form-control">
            <option>Problème lié au compte</option>
            <option>Une inscription</option>
            <option>Moyen de paiement</option>
            <option>Autres</option>
          </select>

        </div>


        <!---message --->

        <div class="feedback-form">
          <p><label for="message"></label><textarea id="message" placeholder="Votre message" name="message" tabindex="4" cols="50" rows="8"></textarea></p>
        </div>

        <div class="btnSendLitigeContainer2">
          <button class="btnSendLitige2">Envoyer</button>

        </div>
      </div>
    </div>
    </div>

  </ion-content>
</ion-view>


