<ion-view  style="background-color:#f7f5ff ">
    <ion-content>

      <div id="historiquePageContainer">

        <div class="litigeTitleContainer" style="height: 60px">
          <h2 style="color: white;">Vos courses</h2>
        </div>

        <ion-scroll>

             <ion-list style="height: 100%">
                    <ion-item class="item-icon-right">
                        <div>
                            <div class="bold"></div>
                            <div>De: Villeneuve la garenne, </div>
                            <div>A: Montmorency, 9 rue de l'ermitage 95160</div>
                            <div>Prix: 16€</div>
                            <div>Id chauffeur: 1623</div>
                        </div>

                    </ion-item>


                 <ion-item class="item-icon-right">
                     <div>
                         <div class="bold"></div>
                         <div>De: Villeneuve la garenne, </div>
                         <div>A: Montmorency, 9 rue de l'ermitage 95160</div>
                         <div>Prix: 16€</div>
                         <div>Id chauffeur:  1623</div>
                     </div>

                 </ion-item>
                </ion-list>
        </ion-scroll>

      </div>
    </ion-content>
</ion-view>



