<ion-view  style="background-color:#f7f5ff ">

    <!--
    <img src="../image/Parcours/PageHistorique/fondhistorique.jpeg"/>
    --->

    <ion-content>

      <div id="historiquePageContainer">

        <div class="litigeTitleContainer" style="height: 80px">
          <h2 style="color: #302253;">Vos courses</h2>
        </div>

         <!--onglet------------------------>
          <nav class="navbar navbar-default">
              <div class="container-fluid">

                  <ul class="nav navbar-nav">
                      <li><a href="#">Page 1</a></li>
                      <li><a href="#">Page 2</a></li>

                  </ul>
              </div>
          </nav>


         <!-- onglet ----->


          <!--debut historique--->

          <!----------------------- Case 1 ---------------------------->
          <div class="container">
              <img src="../image/Parcours/PageHistorique/avatarF.png" alt="Avatar" style="width:90px">
              <p><span >Isabelle Lecompte Dumant</span>N°17546</p>
              <div>
                  <div>
                      <img style="width: 20px;margin-left:0;" src="../image/Parcours/PageHistorique/depart.png">
                      <p style="  ">12 charle vincent 75017 Paris  </p>
                      <img style="width: 20px;margin-left:110px;" src="../image/Parcours/PageHistorique/arrivée.png">
                      <p style="">12 charle vincent 75017 Paris  </p>
                  </div>
                  <div>Prix: 14€</div>
              </div>
          </div>
          <!----------------------- Fin Case 1 ---------------------------->


          <!----------------------- Case 2---------------------------->
          <div class="container">
              <img src="../image/Parcours/PageHistorique/avatarH.png" alt="Avatar" style="width:90px">
              <p><span >Mohamed Belrabet</span>N°14987</p>
              <div>
                  <div>
                  <img style="width: 20px;margin-left:0;" src="../image/Parcours/PageHistorique/depart.png">
                  <p style="  ">12 charle vincent 75017 Paris  </p>
                      <img style="width: 20px;margin-left:110px;" src="../image/Parcours/PageHistorique/arrivée.png">
                      <p style="">12 charle vincent 75017 Paris  </p>
                  </div>
                  <div>Prix: 16€</div>
              </div>
          </div>
          <!----------------------- Fin Case 2 ---------------------------->
          <!--fin historique--->
<!--ancien---
        <ion-scroll>

             <ion-list style="height: 100%">
                    <ion-item class="item-icon-right">
                        <div>
                            <div class="bold"></div>
                            <div>De: Villeneuve la garenne, </div>
                            <div>A: Montmorency, 9 rue de l'ermitage 95160</div>
                            <div>Prix: 16€</div>
                            <div>Id chauffeur: 1623</div>
                        </div>

                    </ion-item>


                 <ion-item class="item-icon-right">
                     <div>
                         <div class="bold"></div>
                         <div>De: Villeneuve la garenne, </div>
                         <div>A: Montmorency, 9 rue de l'ermitage 95160</div>
                         <div>Prix: 16€</div>
                         <div>Id chauffeur:  1623</div>
                     </div>

                 </ion-item>
                </ion-list>
        </ion-scroll>
               fin ancien -->

      </div>
    </ion-content>
</ion-view>



