<ion-view view-title="">
  <ion-content scroll="false" style="background-color:#3f1e64">

    <div id="containerSignUp" class="Flex-Column Flex-item-center Flex-justify-center">

      <!--deco -->
      <img id="thelogoSignIp" src="../image/Parcours/pageInscription/logotiktac.png">

      <!---debut formulaire--->
      <!-- Login form -->
      <div class="formSignInContainer">
        <form>
            <label class="item-input inputSignInPage">
              <img id="img1" src="../image/Parcours/pageInscription/iconeemail.png"/>
              <input style="color:white" type="email" placeholder="Email">
            </label>

            <label class="item-input inputSignInPage">
              <img id="img2" src="../image/Parcours/pageInscription/lock.png"/>
              <input style="color:white" type="password" placeholder="Mot de passe">
            </label>

          <!---btn valider--->
            <button ui-sref="MapUser" class="btnConnexionSignInPage">
              Connexion
            </button>
        </form>
      </div>


      <!-- Other links -->
        <div class="passwordForgetContainer">
          <span style="color:#908d95" class="light">Mot de passe oublié ?</span>
        </div>

    </div>
    <!--fin deco--->


    <!---1ere page de connexion  --->


    <!--btn ---------

    <form>
        <div class="row-no-padding">
            <button class="col col-100 inputFormInscription3 btnstyle">S'incrire</button>
            <button class="col col-100 inputFormInscription3 btnstyle">Se connecter</button>
        </div>


    <!--btn reseaux-----

    <div class="row-no-padding">
            <img class="col col-100 reseau" style="width: 20px;" src="../image/Parcours/pageInscription/facebook.png"/>
            <img class="col col-100 reseau" src="../image/Parcours/pageInscription/twitter.png"/>
            <img class="col col-100 reseau" style="background-color:black; margin-top:5px;" src="../image/Parcours/pageInscription/googleplus.png"/>
    </div>

    </form>
--->

  </ion-content>

</ion-view>
