<ion-view>
  <ion-content style="background-color:#f7f5ff" scroll="false">


    <!-----**********************************-----partie header----********************************************------>

    <div class="litigePageContainer">
        <div class="litigeTitleContainer" style="background-color:#312e42 ">
      <h2 style="color: white">Litiges</h2>
    </div>



      <!-------*******************************-partie 2 body-*******************************************-->




      <div class="headerContainer">
        <div class="dropdownHelp">
          <button style="background-color:#312e42;margin-top:5%;" class="dropbtn">Sélectionnez une course</button>
          <div class="dropdown-content">
            <ion-list>
              <ion-item>
                <p><strong>De:</strong> Villeneuve la garenne, </p>
                <p><strong>A:</strong> Montmorency, 9 rue de l'ermitage 95160</p>
                <p><strong>Prix:</strong> 16€</p>
                <p><strong>Id chauffeur:</strong> 1623</p>
              </ion-item>

              <ion-item>
                <p><strong>De:</strong> Taverny, 14 allée des troënes </p>
                <p><strong>A:</strong> Eaubonne, 10 Gérard Lieu</p>
                <p><strong>Prix:</strong> 16€</p>
                <p><strong>Id chauffeur:</strong> 4521</p>
              </ion-item>

            </ion-list>
          </div>
        </div>
      </div>

      <div class="contener-text">

        <form style="width:50%">
          <textarea name="" style="border:none" cols="30" rows="15" placeholder="Tapez votre texte ici"></textarea>
        </form>

      </div>

      <div class="btnSendLitigeContainer">
        <button class="btnSendLitige">Envoyer</button>

      </div>

    </div>

  </ion-content>
</ion-view>
