<ion-view>
  <ion-content scroll="false" style="background-color:#f7f5ff">

      <div id="payementPageContainer" class="Flex-Column Flex-item-center">

      <!--- fond de page-->
      <img src="../image/Parcours/pagePaiement/iconCb.png" class="backgroundPayementPage"/>

          <p> Vous n'avez enregistré aucune carte bancaire </p>

      <button class="btnAddCard" >Ajouter une carte bancaire</button>

      <button class="btnPromoCode">Ajouter un code promo</button>

    </div>


    <!-- Booking information --

     <div class="map-overlay list col-100">
                <div class="item" ui-sref="places">
                    <span class="label gray"></span>

                </div>

    <div class="booking-info">


        <div class="vehicles row text-center">

            <div class="col item-vehicle">
                <span></span>
            </div>
        </div>

        <div class="booking-form list padding-left padding-right stable-bg col-90" style="margin-left: 18px">

            <div class="item item-icon-left item-icon-right">
                <i class="icon ion-cash"></i>
                <div ui-sref="payment_method">
                    <div>Paiement Carte</div>
                    <!--<span class="bold">Especes</span>--

                </div>
                <i class="icon ion-arrow-right-b gray"></i>
            </div>



            <div class="item item-icon-left">
                <i class="icon ion-ios-compose-outline"></i>

                <span class="dark"></span>
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-pricetag"></i>
                <span class="italic dark">Code promo</span>
                <span class="dark"></span>
            </div>

            <div class="button button-balanced button-block" style="background-color:#1f1d2a; margin-left: -1% ">Ajouter</div>


        </div>
    </div>




                <div class="booking-info">


                    <div class="vehicles row text-center">

                        <div class="col item-vehicle">
                            <span></span>
                        </div>
                    </div>

                    <div class="booking-form list padding-left padding-right stable-bg col-90" style="margin-left: 18px">

                        <div class="item item-icon-left item-icon-right">
                            <i class="icon ion-cash"></i>
                            <div ui-sref="payment_method">
                                <div>Especes</div>
                                <!--<span class"bold">Especes</span>--

                            </div>
                            <i class="icon ion-arrow-right-b gray"></i>
                        </div>



                        <div class="item item-icon-left">
                            <i class="icon ion-ios-compose-outline"></i>

                            <span class="dark"></span>
                        </div>

                        <div class="item item-icon-left">
                            <i class="icon ion-pricetag"></i>
                            <span class="italic dark">Code promo</span>
                            <span class="dark"></span>
                        </div>

                        <div class="button button-balanced button-block" style="background-color:#1f1d2a; margin-left: -1% ">Modifier</div>


                    </div>


    --->
  </ion-content>
</ion-view>
